
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Marka ara</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterBrandText" placeholder="arama ifadesi giriniz">
    <!--  componentteki filterText alanına binding işlemi : [(ngModel)]="filterText" -->
    <!--  ngModel'ü kullanabilmek için  app.module.ts dosyasına import işlemi yapmalıyız -- import {FormsModule} from '@angular/forms';   imports: [FormsModule]-->
  </div>
  <div *ngIf="filterText.length >2" class="alert alert-success">
    <!-- class="alert alert-primary, alert-varning, alert-success,alert-danger, alert-primary-->
  {{filterText}} aradınız
</div>

<h5>Markalar</h5>
<ul class="list-group">
    <li [class]="getAllBrandClass()" routerLink ="/cars">Tüm Markalar</li>
    <li (click)="setCurrentBrand(brand)"
        routerLink = "/cars/brand/{{brand.id}}"
        *ngFor="let brand of brands | brandFilterPipe:filterText"
        [class]="getCurrentBrandClass(brand)">
        {{brand.name}}</li>   <!-- komponennteki bir bilgi ile değiştirmek istiyor isen [class] kullan-->
</ul>


<!-- Bracket Pair Coloriser extensionunu yükle (renklendirmeler için)-->
<!-- Prettier - Code Formatter extensionunu yükle (formatlama için)-->
