<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
<table *ngIf="dataLoaded==true" class = "table">
    <thead>
        <tr>
            <th>Id</th>
            <th>User Id</th>
            <th>Müşteri Kodu</th>
            <th>Müşteri Adı</th>        
        </tr>        
    </thead>
    <tr *ngFor = "let customer of customers">
        <td>{{customer.id}}</td>
        <td>{{customer.userId}}</td>
        <td>{{customer.code}}</td>
        <td>{{customer.companyName}}</td>
    </tr>
</table>



<!-- Bracket Pair Coloriser extensionunu yükle (renklendirmeler için)-->
<!-- Prettier - Code Formatter extensionunu yükle (formatlama için)-->
